body{

margin:0;
font-family:Arial;
text-align:center;
background:#f5efe6;

}

/* title */

.title{

margin-top:50px;
font-size:42px;
font-weight:bold;

}

.boy-text{

color:#4da6ff;

}

.girl-text{

color:#ff6ec7;

}

/* grid */

.grid{

margin-top:60px;

display:grid;

grid-template-columns:repeat(3,100px);

gap:20px;

justify-content:center;

}

/* circles */

.scratch{

width:100px;
height:100px;
border-radius:50%;

background:linear-gradient(#bfbfbf,#e6e6e6);

display:flex;
justify-content:center;
align-items:center;

font-size:40px;

cursor:pointer;

transition:0.3s;

}

.scratch:hover{

transform:scale(1.05);

}

/* boy revealed */

.reveal-boy{

background:#4da6ff;
color:white;

}

/* girl revealed */

.reveal-girl{

background:#ff6ec7;
color:white;

}

/* result page */

.result-container{

height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;

}

body.boy{

background:#4da6ff;

}

body.girl{

background:#ff6ec7;

}

.baby-name{

font-size:55px;
font-weight:bold;

}

.welcome{

font-size:30px;

}

.feet{

width:50px;
height:50px;

background-image:url("feet.png");

background-size:contain;
background-repeat:no-repeat;
background-position:center;

}
